h1, p {
  margin: 0px;
  margin-bottom: 12px;
}

h1 {
  font-weight: 300;
}

.main {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  font-family: 'Playfair Display', serif !important;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.info {
  font-size: 28px;
  width: 60%;
  font-weight: 100;
}